# User settings and project-specific files
xcuserdata/

# Obj-C/Swift specific
*.hmap

# App packaging artifacts
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode build artifacts
DerivedData/
build/

# fastlane artifacts
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
